@use "../../style/color-map" as c;
@use "../../style/display-map" as d;


.cart-wrapper {
    align-items: flex-end;
    background: hsl(0, 0%, 100%);
    border: 1px solid hsl(216, 22%, 76%);
    border-radius: 10px;
    display: flex;
    padding: 2rem;
    justify-content: space-between;
}

.cart-container {
    gap: 20px;

    .cart-items {
        display: flex;
        flex: 1;
        gap: 20px;
        flex-direction: column;
    }

    :is(.summary-total, .summary-total-tax, .summary-total-quantity, .summary-total-amount) {
        @include d.flex($center:space-between);
        font-size: 13px;
        font-weight: 600;
        margin-top: 10px;
        text-transform: uppercase;

        span {
            color: c.$white-color;
        }
    }
}

.item-detail {
    @include d.flex($center:space-between);
    border: 1px solid c.$gray-medium;
    border-radius: 10px;
    gap: 20px;
    padding: 10px 20px;

    .item-info {
        align-items: center;
        display: flex;
        gap: 20px;

        .item-title {
            width: 300px;
        }

        .item-image {
            align-items: center;
            display: flex;
            height: 80px;
            width: 70px;

            &img {
                width: 50px;
            }
        }
    }

    .item-quantity {
        align-items: center;
        display: flex;
        gap: 10px;
    }

    .item-remove {
        color: red;
    }

    :is(.item-remove, svg.minus, svg.plus) {
        cursor: pointer;
    }
}

    //summary container
.cart-summary {
    background: c.$gray-light;
    border-radius: 4px;
    padding: 30px;
    width: 250px;

    .summary-title {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .summary-total-amount {
        margin-top: 4rem;
    }

    .check-out-btn {
        background: c.$white-color;
        border-radius: 4px;
        color: c.$gray-color;
        cursor: pointer;
        margin-top: 20px;
        font-weight: 500;
        padding: 10px 20px;
        text-transform: uppercase;
    }
}

// if card is empty 

.no-item {
    @include d.flex;
    height: 300px;
    font: 1;
}