//color-map font, bg...

$gray-color:        hsl(202, 24%, 27%);     //#344955
$gray-light:        hsl(216, 22%, 76%);     //#b4bfcf
$gray-high_light:   hsl(0, 0%, 93%);        //#eee    <--- nome consentito dopo il primo - inserire _ (underscore) per continuare il nome
$gray-search:       hsl(0, 0%, 85%);        //#d9d9d9 
$gray-medium:       hsl(216, 22%, 76%);     //#b5c0d0
$gray-light-medium: hsl(219, 26%, 89%);     //#dde2eb
$white-color:       hsl(0, 0%, 100%);      //#fff